* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #212121;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    font-size: 16px;
}

canvas {
    border-radius: 10px;
    border: 2px solid #fff;
    background-color: #1c1c1c;
    margin: 20px 0;
}

#resetBtn {
    padding: 12px 24px;
    font-size: 16px;
    background-color: #444;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

#resetBtn:hover {
    background-color: #666;
}

/* Hamburger Menu Styles */
.menu-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

.hamburger div {
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: #444;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    padding: 10px;
    flex-direction: column;
}

.menu a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    display: block;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #666;
}

.hamburger.open div:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open div:nth-child(2) {
    opacity: 0;
}

.hamburger.open div:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.menu.open {
    display: flex;
}
